#desktop-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: absolute;
  right: 12px;
  bottom: 8px;
}
#fullscreen-btn {
  background: var(--button);
  color: var(--primary);
  border-radius: 50%;
  border: none;
  font-size: 1.3rem;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: background 0.18s;
  position: relative;
  z-index: 102;
}
